.ProductPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}