.catering-page {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    height: calc(100svh - 70px);
    position: relative;
    padding-left: 100px;
    padding-top: 50px;
}
.catering-page-info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    max-width: 800px;
    z-index: 1;
}
.catering-page-info h1 {
    font-size: 60px;
}
.catering-page-info p {
    font-size: 20px;
}
.catering-page-info button {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}
.catering-page-img {
    width: 1000px;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    transform: translateX(10%);
    top: 10%;
}
.catering-page-img img {
    width: 100%;
    opacity: 0.4;
}
.light {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1500px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.1) 0%,   /* center brighter */
            rgba(255, 255, 255, 0) 70%     /* edges fade out */
    );
    pointer-events: none; /* so it doesn't block clicks */
}
@media (max-width: 1270px) {
    .catering-page-img {
        width: 500px;
        top: 50%;
        right: 0;
    }
    .light {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
    }
}
@media (max-width: 800px) {
    .catering-page {
        align-items: start;
        height: calc(100svh - 60px);
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 500px) {
    .catering-page {
        align-items: start;
        height: calc(100svh - 60px);
    }
    .catering-page h1 {
        font-size: 40px;
    }
    .catering-page p {
        font-size: 16px;
    }
    .catering-page button {
        height: 40px;
        font-size: 14px;
    }
}